[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "plsmselect"]
	path = plsmselect
	url = https://github.com/cran/plsmselect
	shallow = true
	registered = true
